@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}
/*nav bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  position: absolute;
  gap: 120%;
}

.logo a {
  color: #ffffff;
  font-family: Roboto Slab;
  font-size: 45px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -19.2px;
  text-decoration: none;
}

.nav-links {
  display: flex;
  list-style: none;
  background-color: #010c26;
  border-radius: 10px;
  padding: 10px;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* Style for the hamburger menu icon */
.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: rgb(0, 0, 0);
  margin: 3px 0;
}

.bcontainer {
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.photo {
  flex: 1;
  text-align: center;

  color: #ffffff;
}

.photo img {
  max-width: 100%;
  height: auto;
}

.form-container {
  flex: 1;
  padding: 50px;
  background-color: #ffffff;
  box-sizing: border-box; /* Include border in sizing */
  display: flex;
  justify-content: center;
  padding-left: 50px;
}
.form-main {
  border: 3px solid black; /* Add black border */
  padding: 50px 50px 50px 50px;
}

form {
  max-width: 600px; /* Set a maximum width for the form */
  width: 100%; /* Occupy available space */
}

label {
  margin-top: 10px;
  font-weight: bold;
  text-align: left;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1.5px solid black;
  border-radius: 5px;
}

.submit-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #020f35;
  color: #ffffff;
  border: none;
  cursor: pointer;
  text-align: center;
}

.button {
  text-align: center;
}

/* bg img */
.img-container {
  background-image: url(./Images/bg.png);
  width: 100%;
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}
/*footer*/
.container {
  max-width: 1280px;
  margin: auto;
  font-family: Roboto;
  padding-left: 70px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #010c26;
  padding: 30px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #fefefe;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #ffffff;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  display: block;
  transition: all 0.3s ease;
  font-weight: 400;
}
.footer-col ul li a:hover {
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #ffffff;
  background-color: #dfdfdf;
}
.f {
  font-size: 15px;
  font-family: Oswald;
  font-weight: 100;
  color: #00000049;
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 15px;
}

/* Media query for responsive design */
@media screen and (max-width: 900px) {
  /*nav bar */
  .nav-links {
    display: none;
    flex-direction: column;
    width: 70%;
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 1;
    color: white;
    padding: 10px 10px 10px 80px;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-icon {
    display: flex;
  }
}
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  /*nav bar */
  .nav-links {
    display: none;
    flex-direction: column;
    width: 200px;
    border-radius: 3px;
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 1;
    background-color: #010c26;
    color: white;
    padding: 10px 10px 10px 20px;
  }
  .navbar {
    gap: 520%;
  }
  /*form*/
  .form-container {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
    box-sizing: border-box; /* Include border in sizing */
    display: flex;
    justify-content: center;
    
  }
  .form-main {
    border: 3px solid black; /* Add black border */
    padding: 20px;
  }
  
  form {
    max-width: 600px; /* Set a maximum width for the form */
    width: 100%; /* Occupy available space */
  }
  
  label {
    margin-top: 10px;
    font-weight: bold;
    text-align: left;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1.5px solid black;
    border-radius: 2px;
  }
  
  .submit-button {
    margin-top: 0px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #020f35;
    color: #ffffff;
    border: none;
    cursor: pointer;
    text-align: center;
  }
  
  .button {
    text-align: center;
  }
  
}
