@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo a {
  color: #000;
  font-family: Roboto Slab;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -19.2px;
  text-decoration: none;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* Style for the hamburger menu icon */
.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: rgb(0, 0, 0);
  margin: 3px 0;
}

/* Media query for responsive design */
@media screen and (max-width: 900px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 40%;
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 1;
    color: white;
    padding: 10px 10px 10px 80px;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-icon {
    display: flex;
  }
}

@media screen and (max-width: 500px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 40%;
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 1;
    color: white;
    padding: 10px 10px 10px 20px;
  }
}
